
.heroV {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.heroV-step {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;

  transform: translateY(50px);

  clip-path: inset(0 0 0 0);
}

.heroV-step[data-phase="0"] { z-index: 2; }
.heroV-step[data-phase="1"] { z-index: 1; }

.hv-layout {
  position: relative;
  width: 100%;
  height: 100%;
}


.heroV-step[data-phase="0"] .hv-title {
  position: absolute;
  top: 18vh;
  left: var(--margin-desktop);
  max-width: 680px;
}

.heroV-step[data-phase="0"] .hv-subtext {
  position: absolute;
  top: 50vh;
  right: var(--margin-desktop);
  max-width: 450px;
  opacity: 0.9;
  line-height: 150%;
}



.heroV-step[data-phase="1"] .hv-title {
  position: absolute;
  top: 20vh;
  left: var(--margin-desktop);
  max-width: 680px;
}

.heroV-step[data-phase="1"] .hv-subtext {
  position: absolute;
  top: 62vh;
  left: var(--margin-desktop);
  max-width: 420px;
  opacity: 0.9;
  line-height: 150%;
}

.hv-title .line {
  display: inline-block;
}

/* MOBILE */
@media (max-width: 768px) {
  .heroV-step .hv-title {
    left: var(--margin-mobile);
    max-width: 90%;
  }

  .heroV-step .hv-subtext {
    left: var(--margin-mobile);
    right: var(--margin-mobile);
    max-width: 90%;
  }
}


.heroH {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.heroH-track {
  display: flex;
  height: 100%;
  width: max-content;
}

.heroH-panel {
  height: 100vh;
  width: 100vw;      
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heroH-inner {
  width: 100%;
  max-width: 1500px;     
  padding-left: var(--margin-desktop);
  padding-right: var(--margin-desktop);
}
