:root {
  
  /* === FONT FAMILY === */
  --font-base: "Geist", sans-serif;

  /* === DISPLAY === */
  --display-lg-size: 84px;
  --display-lg-weight: 800;
  --display-lg-line: 100%;
  --display-lg-space: 0.05em; /* -5% */

  --display-md-size: 60px;
  --display-md-weight: 700;
  --display-md-line: 100%;
  --display-md-space: -0.03em;

  --display-sm-size: 52px;
  --display-sm-weight: 600;
  --display-sm-line: 100%;
  --display-sm-space: -0.02em;

  /* === BODY === */
  --body-lg-size: 20px;
  --body-lg-line: 140%;

  --body-md-size: 18px;
  --body-md-line: 140%;
  --body-md-weight: 400;


  --body-sm-size: 14px;
  --body-sm-line: 140%;
  --body-sm-weight: 400;
  --body-sm-space: 0%;
}

.display-lg {
  font-family: var(--font-base);
  font-size: var(--display-lg-size);
  font-weight: var(--display-lg-weight);
  line-height: var(--display-lg-line);
  letter-spacing: var(--display-lg-space);
}

.display-md {
  font-size: var(--display-md-size);
  font-weight: var(--display-md-weight);
  line-height: var(--display-md-line);
  letter-spacing: var(--display-md-space);
}

.display-sm {
  font-size: var(--display-sm-size);
  font-weight: var(--display-sm-weight);
  line-height: var(--display-sm-line);
  letter-spacing: var(--display-sm-space);
}

.body-lg {
  font-size: var(--body-lg-size);
  line-height: var(--body-lg-line);
}

.body-sm {
  font-family: var(--font-base);
  font-size: var(--body-sm-size);
  font-weight: var(--body-sm-weight); /* ✅ Regular */
  line-height: var(--body-sm-line);
  letter-spacing: var(--body-sm-space);
}
