.story-section {
  position: relative;
  height: 100vh;
  color: #000;
  overflow: hidden;
  padding: 0 var(--margin-desktop);
  background-color: black;
  transition: background-color 0.1s ease;
}

.story-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.story-subtitle {
  position: absolute;
  top: 15vh;
  left: var(--margin-desktop);
  font-size: 14px;
  font-weight: 600;
  opacity: 0.8;
}

.story-panel {
  position: absolute;
  top: 0;
  left: var(--margin-desktop);
  height: 100vh;
  width: calc(100% - 2 * var(--margin-desktop));
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.story-title {
  font-family: var(--font-display);
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 1.8rem;
}

@media (max-width: 768px) {
  .story-section {
    padding: 0 var(--margin-mobile);
  }

  .story-panel {
    left: var(--margin-mobile);
    height: 100vh;
  }

  .story-title {
    font-size: 28px;
    line-height: 120%;
  }

  .story-body {
    font-size: 16px;
  }

  .story-subtitle {
    top: 5vh;
    left: var(--margin-mobile);
  }
}
