.story-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #000102;
  color: #000;
  padding: 0;
}

/* Wrapper */
.story-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: var(--margin-desktop);
  padding-right: var(--margin-desktop);
  padding-top: 14vh;
}

.story-subtitle {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-bottom: 24px;
}


.story-panel {
  position: absolute;
  /* top: 26vh; */
  left: var(--margin-desktop);
  width: 90vw;
  /* max-width: 1200px; */
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}


.story-title {
  margin-bottom: 2rem;
  /* max-width: 700px; */
}

/* BODY */
.story-body {
  font-size: var(--title-medium);
  font-weight: 700;
  color: var(--text-on-white);

  margin-top: 24vh;  
  margin-left: 78%;  
  width: 360px;
}

/* ============================================================
                         MOBILE
============================================================ */
@media (max-width: 768px) {

  .story-wrapper {
    padding-left: var(--margin-mobile);
    padding-right: var(--margin-mobile);
    padding-top: 12vh;
  }

  .story-panel {
    position: absolute;       /* 🔥 AHORA MOBILE TAMBIÉN ES ABSOLUTE */
    top: 22vh;
    left: var(--margin-mobile);
    width: calc(100% - 2 * var(--margin-mobile));
    max-width: none;
  }

  .story-title {
    font-size: var(--headline-small-size); 
    font-weight: var(--headline-small-weight);
    line-height: var(--headline-small-line);
    letter-spacing: var(--headline-small-space);
    max-width: 90%;
    margin-bottom: 1.2rem;
  }

  .story-body {
    font-size: var(--title-small);
    line-height: 150%;
    margin-top: 6vh;      
    margin-left: 0;    
    max-width: 85%;
  }
}
