.navbar-wrapper {
  position: fixed;
  top: 1rem;
  left: var(--margin-desktop);
  right: var(--margin-desktop);
  z-index: 200000000;
  pointer-events: none;
}

.navbar {
  pointer-events: auto;
  width: 100%;
  padding: 0.55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 16px;
  backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  width: 44px;
  height: 21px;
  filter: brightness(0) invert(1);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 28px;
  font-size: 14px;
  font-weight: 400;
}

.nav-button {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 9px 14px;
  color: white;
  border-radius: 8px 2px 8px 8px;
  height: 37px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.hamburger-btn {
  display: none;
  width: 42px;
  height: 42px;
  background: #424146;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hamburger-btn svg {
  stroke-width: 2px !important;
  position: absolute;
}

/* DROPDOWN MOBILE */
.mobile-menu {
  position: fixed;
  top: calc(1rem + 60px);

  left: var(--margin-desktop);
  right: var(--margin-desktop);

  padding: 3rem 2rem;

  background: rgba(20, 20, 20, 0.6);
  border-radius: 18px;
  backdrop-filter: blur(25px) saturate(160%);
  -webkit-backdrop-filter: blur(25px) saturate(160%);

  flex-direction: column;
  gap: 22px;

  z-index: 199999999;
  display: none;
  opacity: 0;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  gap: 18px;
  flex-direction: column;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

/* RESPONSIVE ------------------------------------ */

@media (max-width: 1024px) {
  .desktop-only {
    display: none;
  }
  .hamburger-btn {
    display: flex;
  }
}

@media (max-width: 640px) {
  .navbar-wrapper {
    left: var(--margin-mobile);
    right: var(--margin-mobile);
  }

  .mobile-menu {
    left: var(--margin-mobile);
    right: var(--margin-mobile);
    padding: 2.5rem var(--margin-mobile);
  }
}
