.navbar {
  position: fixed;
  top: 1rem;
  left: var(--margin);
  right: var(--margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.7rem;
  border-radius: 16px;
  backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  z-index: 100000000;
  mix-blend-mode: difference;
}


.navbar-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  width: 44px;
  height: 21px;
  display: block;
  filter: brightness(0) invert(1);
  opacity: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.nav-links li {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 37px;
  transition: opacity 0.3s ease;
}

.nav-links li:hover {
  opacity: 0.7;
}

.nav-button {
  background: #F2F2F233;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 9px 14px;
  border-radius: 8px 2px 8px 8px;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  gap: 22px;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .navbar {
    left: var(--margin);
    right: var(--margin);
    border-radius: 12px;
    padding: 0.6rem 1.2rem;
  }

  .nav-links {
    gap: 20px;
  }
}

