.horizontal-carousel {
  height: 100vh;
  /* margin-top: 200vh; */
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1000000;
  font-family: "Geist", sans-serif;
  overflow: hidden;
}

.carousel-title {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: clamp(2rem, 5vw, 4rem);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  z-index: 2;
}

.gradient-text {
  background: linear-gradient(90deg, #1c56ff, #a463ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.carousel-track {
  display: flex;
  gap: 3rem;
  padding: 0 10vw;
  height: 100%;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.card-component {
  margin-top: 290px;
  flex: 0 0 auto;
  width: 535x;
  height: 409px;
  min-height: 400px;
}
