.horizontal-carousel {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 1)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1000000;
  font-family: "Geist", sans-serif;
  overflow: hidden;


  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.35) 20%,
    rgba(0, 0, 0, 0.75) 20%,
    black 45%
  );

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.35) 10%,
    rgba(0, 0, 0, 0.75) 20%,
    black 35%
  );
}

/* Desktop (default) */
.carousel-title {
  position: absolute;
  top: 20vh;
  left: var(--margin-desktop);
  max-width: 900px;
  z-index: 2;
}

/* Mobile override */
@media (max-width: 768px) {
  .carousel-title {
    left: var(--margin-mobile);
    top: 12%;
    max-width: 90%;
    line-height: var(--headline-small-line);
    font-size: var(--headline-small-size);
    letter-spacing: var(--headline-small-space);
  }
}


.gradient-text {
  background: linear-gradient(90deg, #1c56ff, #a463ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.carousel-track {
  display: flex;
  /* gap: 3rem; */
  /* padding: 0 10vw; */
  height: 100%;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.card-component {
  margin-top: 200px;
  flex: 0 0 auto;
  /* width: 535x;
  height: 409px; */
  min-height: 400px;
}

.carousel-subtitle-fixed {
  position: absolute;
  top: 15vh;
  left: var(--margin-desktop);
  font-size: 14px;
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: 0.05em;
  z-index: 3;
}

/* Ocultar en mobile */
@media (max-width: 768px) {
  .carousel-subtitle-fixed {
    display: none;
  }
}