.hub-section {
  position: relative;
  height: 100vh;
  background: #ebeef0;
  overflow: hidden;
}

.hub-fixed-header {
  position: absolute;
  top: 15vh;
  left: var(--margin-desktop);
  z-index: 20;
}

.hub-subtitle {
  font-size: 14px;
  font-weight: 600;
  opacity: .7;
}

.hub-title {
  font-family: var(--font-display);
  font-size: 48px;
  line-height: 110%;
  max-width: 800px;
}

.hub-stack-container {
  position: absolute;
  top: 38vh;   /* debajo del título */
  left: var(--margin-desktop);
  width: calc(100% - var(--margin-desktop) * 2);
}

.hub-card-wrapper {
  position: absolute;
  width: 100%;
  transform-origin: top;
}
