.hub-section {
  position: relative;
  height: 100vh;
  background: #ebeef0;
  overflow: hidden;
}

.hub-fixed-header {
  position: absolute;
  top: 12vh;
  left: var(--margin-desktop);
  z-index: 40;
}

/*** STACK REAL (todas visibles al inicio) ***/
.hub-stack-container {
  position: relative;
  margin-top: 38vh;
  width: calc(100% - var(--margin-desktop) * 2);
  left: var(--margin-desktop);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hub-card-wrapper {
  position: relative;
  width: 100%;
  transform-origin: top;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .hub-fixed-header {
    left: var(--margin-mobile);
    right: var(--margin-mobile);
    /* top: 8vh; */
  }

  .hub-title {
    font-size: var(--headline-small-size);
    line-height: var(--headline-small-line);
  }

  .hub-stack-container {
    top: 38vh;
    left: var(--margin-mobile);
    width: calc(100% - var(--margin-mobile) * 2);
  }

  .hub-card {
    flex-direction: column;
    gap: 18px;
    padding: 26px;
  }

  .hub-card-bg img {
    width: 70px;
    height: 70px;
  }
}


.hub-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 var(--margin-desktop);
}

.hub-header {
  position: sticky;
  top: 10vh;
  z-index: 20;
}

.hub-subtitle {
  font-size: 14px;
  opacity: 0.7;
}

.hub-title {
  font-family: var(--font-display);
  line-height: 110%;
  margin-top: 10px;
}

.hub-stack {
  position: relative;
  margin-top: 25vh;
  height: 120vh;
}

.hub-card-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
}
