.hub-section {
  position: relative;
  background: #ebeef0;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.hub-fixed-header {
  position: relative;
  z-index: 20;
  transform: translateY(0);
  will-change: transform, opacity, filter;
}

.hub-title {
  font-family: var(--font-display);
  line-height: 110%;
  margin-left: var(--margin-desktop);
}

.hub-stack-container {
  position: relative;
   padding-top: 10vh;
  width: calc(100% - var(--margin-desktop) * 2);
  margin-left: var(--margin-desktop);
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hub-card-wrapper {
  position: relative;
  width: 100%;
}

@media (max-width: 768px) {
  .hub-fixed-header {
    left: var(--margin-mobile);
    right: var(--margin-mobile);
  }

  .hub-stack-container {
    width: calc(100% - var(--margin-mobile) * 2);
    margin-left: var(--margin-mobile);
    gap: 40px;
  }
}
