/* =========================================================
   GLOBAL RESPONSIVE MARGINS
========================================================= */
:root {
  --margin-desktop: 3.5vw;
  --margin-laptop: 5vw;
  --margin-tablet: 6vw;
  --margin-mobile: 7vw;
}

.main-container {
  width: 100%;
  /* max-width: 1600px; */
  margin-left: var(--margin-desktop);
  margin-right: var(--margin-desktop);
}

@media (max-width: 1280px) {
  .main-container {
    margin-left: var(--margin-laptop);
    margin-right: var(--margin-laptop);
  }
}

@media (max-width: 1024px) {
  .main-container {
    margin-left: var(--margin-tablet);
    margin-right: var(--margin-tablet);
  }
}

@media (max-width: 640px) {
  .main-container {
    margin-left: var(--margin-mobile);
    margin-right: var(--margin-mobile);
  }
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Power Ultra";
  /* src: url("/fonts/NeuePower-Bold.eot"); */
  src: url("/fonts/NeuePower-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}



html, body {
  font-family: "Geist", sans-serif; 
}

:root {
  font-family: "Geist", sans-serif;
  color: white;
  background-color: black;
}

body {
  font-family: "Geist", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-color: #000; 
}

code, pre {
  font-family: "Geist", sans-serif; 
}


body, html {
  margin: 0;
  padding: 0;
  font-family: "Geist", sans-serif; 
  overflow-x: hidden;
  background: black;
  color: white;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Neue Power Ultra", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.scroll-section {
  position: relative;
  z-index: 10; /* por encima del canvas */
  min-height: 400vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.hero-text h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.8;
}
