/* =======================
   TIPOGRAFÍAS
======================= */
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Power Ultra";
  /* src: url("/fonts/NeuePower-Bold.eot"); */
  src: url("/fonts/NeuePower-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}



/* =======================
   FUENTE GLOBAL
======================= */
html, body {
  font-family: "Geist", sans-serif; 
}

:root {
  font-family: "Geist", sans-serif;
  color: white;
  background-color: black;
}

body {
  font-family: "Geist", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-color: #000; /* opcional */
}

code, pre {
  font-family: "Geist", sans-serif; 
}

/* =======================
   REGLAS GENERALES
======================= */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Geist", sans-serif; 
  overflow-x: hidden;
  background: black;
  color: white;
}

/* =======================
   ESTILOS DE TEXTO
======================= */
h1, h2, h3, h4, h5, h6 {
  font-family: "Neue Power Ultra", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* =======================
   SECCIÓN PRINCIPAL
======================= */
.scroll-section {
  position: relative;
  z-index: 10; /* por encima del canvas */
  min-height: 400vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.hero-text h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.8;
}
