.hub-section {
  position: relative;
  height: 250vh;
  background: white;
  color: black;
}

.hub-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 var(--margin-desktop);
}

.hub-header {
  position: sticky;
  top: 10vh;
  z-index: 20;
}

.hub-subtitle {
  font-size: 14px;
  opacity: 0.7;
}

.hub-title {
  font-family: var(--font-display);
  font-size: 48px;
  line-height: 110%;
  margin-top: 10px;
}

.hub-stack {
  position: relative;
  margin-top: 25vh;
  height: 120vh;
}

.hub-card-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
}
