.card-component {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 535px;
  height: 409px;
  border-radius: 30px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-content {
  position: absolute;
  inset: 0;
 
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  transition: opacity 0.4s ease-in-out;
}

.card-component:hover .card-content {
  opacity: 1;
}

.card-title,
.card-subtitle,
.card-description {
  margin: 0.5rem 0;
}

.card-children {
  margin-top: 1rem;
}
